---
import type { Creation } from "../../../graphql/generated/sdk";
import { Image } from "@astrojs/image/components";
import { getAllCreations } from "../../services/creationService";

export type Props = {
    creation: Creation;
};

export const getStaticPaths = async () => {
    const creations = await getAllCreations();

    return creations.map((creation) => {
        const slug = creation.slug?.current;

        if (!slug) {
            throw `Undefined creation slug : cration[${creation?._id}]`;
        }

        return {
            params: { slug: creation?.slug?.current },
            props: { creation },
        };
    });
};

const { creation } = Astro.props;
---

<article>
    <h1>{creation?.slug?.current}</h1>
    {
        creation.images?.map((img) => {
            if (!img) {
                return null;
            }

            return (
                <Image
                    src={img.asset?.url}
                    alt={img.asset?.altText ?? ""}
                    width={300}
                    height={300}
                />
            );
        })
    }

    {
        creation.blocks?.map((block) => {
            if (!block) {
                return null;
            }

            return (
                <section>
                    <h3> {block?.title}</h3>
                    <p>{block.content}</p>
                </section>
            );
        })
    }
</article>
